.font1 {
    font-family: 'Grandstander', cursive;
}

.font2 {
    font-size: 24px;
}

.font3 {
    font-size: 22px;
}

.font4 {
    font-size: 22px;
    font-weight: bold;
}

.color {
    color: brown;
}

.text {
    text-align: center;
}

.w {
    width: ;
}

.h {
    height: ;
}

.border {
    border-style: dashed;
}

.borderw {
    border-width: 5px;
}

.borderc {
    border-color: crimson;
}

.margin {
    margin: ;
}

.padding {
    padding: ;
}

.background-image {
    background-image: ;
}